{% load currency_filters %}
{% load i18n %}

<!-- SHOPPING CART -->
<a href="javascript:void(0);" id="total-cart">
  <i class="iconfont-shopping-cart round-icon"></i>
</a>

<div id="sub-cart" class="sub-header">
  <header class="cart-header">
	<span>Your cart is currently empty.</span>
	<small><a href="./cart.html">(See All)</a></small>
  </header>
  <ul class="cart-items product-medialist unstyled clearfix">
  </ul>
  <footer class="cart-footer">
	<div class="cart-total clearfix">
	  <span class="pull-left uppercase">{% trans "Basket total:" %}</span>
	  <span class="pull-right total">
        {% if request.basket.is_tax_known %}
            {{ request.basket.total_incl_tax|currency:request.basket.currency }}
        {% else %}
            {{ request.basket.total_excl_tax|currency:request.basket.currency }}
        {% endif %}
      </span>
	</div>
	<div class="text-right">
      {% include 'basket/partials/basket_quick.html' %}
	  <a href="{% url 'basket:summary' %}" class="btn btn-default btn-round view-cart">{% trans 'View basket' %}</a>
	</div>
  </footer>
</div>
<!-- // SHOPPING CART -->
