{% load currency_filters %}
{% load i18n %}
{% load staticfiles %}

  <div class="container">
	<div class="row">
	  <div class="col-xs-12 col-sm-6 col-md-7">
		<!-- CONTACT INFO -->
		<div class="contact-info">
		  <i class="iconfont-headphones round-icon"></i>
		  <strong>+444 (100) 1234</strong>
		  <span>(Mon- Fri: 09.00 - 21.00)</span>
		</div>
		<!-- // CONTACT INFO -->
	  </div>
	  <div class="col-xs-12 col-sm-6 col-md-5">
		<ul class="actions unstyled clearfix">
		  <li>
            {% include "partials/search.html" %}
		  </li>
		  <li data-toggle="sub-header" data-target="#sub-social">
			<!-- SOCIAL ICONS -->
			<a href="javascript:void(0);" id="social-icons">
			  <i class="iconfont-share round-icon"></i>
			</a>

			<div id="sub-social" class="sub-header">
			  <ul class="social-list unstyled text-center">
				<li><a href="#"><i class="iconfont-facebook round-icon"></i></a></li>
				<li><a href="#"><i class="iconfont-twitter round-icon"></i></a></li>
				<li><a href="#"><i class="iconfont-google-plus round-icon"></i></a></li>
				<li><a href="#"><i class="iconfont-pinterest round-icon"></i></a></li>
				<li><a href="#"><i class="iconfont-rss round-icon"></i></a></li>
			  </ul>
			</div>
			<!-- // SOCIAL ICONS -->
		  </li>
		  <li data-toggle="sub-header" data-target="#sub-cart">
            {# Mini-basket wrapped in a block so some templates can now display it #}
            {% block mini_basket %}{% include "partials/mini_basket.html" %}{% endblock %}
		  </li>
		</ul>
	  </div>
	</div>
  </div>

  <!-- ADD TO CART MESSAGE -->
  <div class="cart-notification">
	<ul class="unstyled"></ul>
  </div>
  <!-- // ADD TO CART MESSAGE -->
