{% load currency_filters %}
{% load category_tags %}
{% load i18n %}
{% load thumbnail %}
{% load staticfiles %}
{% load flatpages %}

	<div class="container">
	  <div class="main-header">
		<!-- CURRENCY / LANGUAGE / USER MENU -->
		<div class="actions">
		  <div class="center-xs">
			<!-- CURRENCY -->
			<ul class="option-list unstyled">
			  <li class="active"><a href="#" data-toggle="tooltip" title="USD - US Dollar">$</a></li>
			  <li><a href="#" data-toggle="tooltip" title="GBP - British Pound">£</a></li>
			  <li><a href="#" data-toggle="tooltip" title="EUR - Euro">€</a></li>
			</ul>
			<!-- // CURRENCY -->

            {% if LANGUAGES|length > 1 %}
			<!-- LANGUAGES -->
            {% get_language_info_list for LANGUAGES|slice:'3' as languages %}
			<ul class="option-list unstyled">
              {% for language in languages %}
			  <li{% if language.code == LANGUAGE_CODE %} class="active" {% endif %}>
                <a href="#" data-toggle="tooltip" title="{{ language.name_local }}">{{ language.code }}</a>
              </li>
              {% endfor %}
			</ul>
            {% endif %}
			<!-- // LANGUAGES -->

		  </div>
		  <div class="clearfix"></div>

		  <!-- USER RELATED MENU -->
		  <nav id="tiny-menu" class="clearfix">
			<ul class="user-menu">
              {% if user.is_authenticated %}
			  <li><a href="{% url 'customer:summary' %}">{% trans 'Account' %}</a></li>
			  <li><a href="{% url 'customer:wishlists-list' %}">{% trans 'Wish Lists' %}</a></li>
			  <li><a href="{% url 'checkout:index' %}">{% trans 'Checkout' %}</a></li>
			  <li><a href="{% url 'customer:logout' %}">{% trans 'Logout' %}</a></li>
              {% else %}
			  <li><a href="{% url 'customer:login' %}">{% trans 'Login or register' %}</a></li>
              {% endif %}
			</ul>
		  </nav>
		  <!-- // USER RELATED MENU -->

		</div>
		<!-- // CURRENCY / LANGUAGE / USER MENU -->

        <!-- SITE LOGO -->
        {% include "partials/brand.html" %}
		<!-- // SITE LOGO -->

		<!-- SITE NAVIGATION MENU -->
		<nav id="site-menu" role="navigation">
		  <ul class="main-menu hidden-sm hidden-xs">
			<li class="active">
			  <a href="{{ homepage_url }}">Home</a>
			</li>
            {% category_tree depth=1 as tree_categories %}
            {% for tree_category, info in tree_categories %}
			<li>
			  <a href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
			  <!-- MEGA MENU -->
			  <div class="mega-menu" data-col-lg="9" data-col-md="12">
				<div class="row">

                  {% category_tree depth=1 parent=tree_category as tree_categories %}
                  {% for tree_category, info in tree_categories %}
				  <div class="col-md-3">
					<h4 class="menu-title">{{ tree_category.name }}</h4>
					<ul class="mega-sub">
                      {% category_tree depth=1 parent=tree_category as tree_categories %}
                      {% for tree_category, info in tree_categories %}
					  <li><a href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a></li>
                      {% endfor %}
					</ul>
				  </div>
                  {% endfor %}

                  {% if promotions_catalogue %}
                  {% with promotion=promotions_catalogue.0 %}
				  <div class="col-md-3">
					<div class="carousel slide m-b" data-ride="carousel">
					  <div class="carousel-inner">
                        {% for product in promotion.products.all %}
						<div class="item{% if forloop.first %} active{% endif %}">
                          {% with image=product.primary_image %}
                          {% thumbnail image.original '450x600' crop='center' upscale=True as thumb %}
						  <img src="{{ thumb.url }}" alt="{{ product.get_title }}" />
                          {% endthumbnail %}
                          {% endwith %}
						</div>
                        {% endfor %}
					  </div>
					</div>
					<h5 class="text-semibold uppercase m-b-sm">{{ promotion.name }}</h5>
					<p>{{ promotion.description|safe }}</p>
					<a href="{% url 'catalogue:index' %}" class="btn btn-default btn-round">Go to Shop ?</a>
				  </div>
                  {% endwith %}
                  {% endif %}
				</div>
			  </div>
			  <!-- // MEGA MENU -->

			</li>
            {% endfor %}

            {% get_flatpages '/nav/' as nav_menu_pages %}
            {% for page in nav_menu_pages %}
			<li>
			  <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
			</li>
            {% endfor %}
		  </ul>

		  <!-- MOBILE MENU -->
		  <div id="mobile-menu" class="dl-menuwrapper visible-xs visible-sm">
			<button class="dl-trigger"><i class="iconfont-reorder round-icon"></i></button>
			<ul class="dl-menu">
			  <li class="active">
				<a href="javsacript:void(0);">Home</a>
			  </li>
			  <li>
				<a href="javsacript:void(0);">Men</a>

				<ul class="dl-submenu">
				  <li>
					<a href="products.html">Clothing</a>
					<ul class="dl-submenu">
					  <li><a href="products.html">Casual Wear</a></li>
					  <li><a href="products.html">Evening Wear</a></li>
					  <li><a href="products.html">Formal Attire</a></li>
					  <li><a href="products.html">Womens Jeans</a></li>
					  <li><a href="products.html">Mens Jeans</a></li>
					  <li><a href="products.html">Fall Styles</a></li>
					</ul>
				  </li>
				</ul>
			  </li>
			</ul>
		  </div>
		  <!-- // MOBILE MENU -->

		</nav>
		<!-- // SITE NAVIGATION MENU -->
	  </div>
	</div>
