{% load display_tags %}
{% load ellipses_pagination %}
{% load i18n %}

{% if paginator.num_pages > 1 %}
<div class="col-xs-12 col-sm-12 col-md-6 center-xs">
  <ul class="paginator li-m-r-l pull-right">
    {% if page_obj.has_previous %}
	<li><a class="round-icon" href="?{% get_parameters page %}page={{ page_obj.previous_page_number }}"
           data-toggle="tooltip" data-title="{% trans "previous" %}"><i class="iconfont-angle-left"></i></a></li>
    {% endif %}

    {% for num in page_obj|ellipses_page_range %}
        {% if num and num != page_obj.number %}
        <li><a href="?{% get_parameters page %}page={{ num }}">{{ num }}</a></li>
        {% elif num and num == page_obj.number %}
        {{ num }}
        {% else %}
        ...
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
	<li><a class="round-icon" href="?{% get_parameters page %}page={{ page_obj.next_page_number }}"
           data-toggle="tooltip" data-title="{% trans "next" %}"><i class="iconfont-angle-right"></i></a></li>
    <li class="next"><a href=""></a></li>
    {% endif %}
  </ul>
</div>
{% endif %}
