{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

<!-- PRODUCT PREVIEW -->
{% with all_images=product.images.all %}
<div class="product-preview">
  {% with big_image=product.primary_image %}
  <div class="big-image">
    {% thumbnail big_image.original "450x600" upsacle=False as thumb %}
	<a href="{{ thumb.url }}" data-toggle="lightbox">
	  <img src="{{ thumb.url }}" alt="{{ product.get_title }}" />
	</a>
    {% endthumbnail %}
  </div>
  {% endwith %}
  <ul class="thumbs unstyled clearfix">
    {% for image in all_images %}
	<li>
      {% thumbnail image.original "450x600" upsacle=False as thumb %}
      <a href="{{ thumb.url }}"><img src="{{ thumb.url }}" alt="{{ product.get_title }}" /></a></li>
    {% endthumbnail %}
    {% endfor %}
  </ul>
</div>
{% endwith %}
<!-- // PRODUCT PREVIEW -->
