{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

{% if session.price.exists %}
    {% if session.price.excl_tax == 0 %}
        <strong class="accent-color price">$0.00</strong>
        <span>{% trans "Free" %}</span>
    {% elif session.price.is_tax_known %}
        <s class="entry-discount">{{ session.price.excl_tax|currency:session.price.currency }}</s>
        <strong class="accent-color price">{{ session.price.incl_tax|currency:session.price.currency }}</strong>
    {% else %}
        <strong class="price">{{ session.price.excl_tax|currency:session.price.currency }}</strong>
    {% endif %}
{% endif %}

{% if not session.availability.is_available_to_buy %}
    <strong class="price">
    {% if verbose %}
        {{ session.availability.message }}
    {% else %}
        {{ session.availability.short_message }}
    {% endif %}
    </strong>
{% endif %}
