{% extends 'oscar/promotions/baseproductlist.html' %}
{% load staticfiles %}
{% load i18n %}
{% load product_tags %}

<!-- <section class="well well-blank"> -->
<!--     <div class="sub-header"> -->
<!--         <h3></h3> -->
<!--     </div> -->

<!--     <ul class="row-fluid"> -->
<!--         {% for product in products %} -->
<!--         <li class="span3 {% if forloop.counter0|divisibleby:"4" %}no-margin{% endif %}">{% render_product product %}</li> -->
<!--         {% endfor %} -->
<!--     </ul> -->

<!--     {% if block.link_url %} -->
<!--         <a href="{{ block.link_url }}">{% trans "See more" %}</a> -->
<!--     {% endif %} -->
<!-- </section> -->

{% block content %}
<!-- FEATURED PRODUCTS -->
<section class="section featured visible-items-4">
  <div class="container">
	<div class="row">
	  <header class="section-header clearfix col-sm-offset-3 col-sm-6">
		<h3 class="section-title">{{ promotion.name }}</h3>
		<p class="section-teaser">{{ promotion.description|safe }}</p>
	  </header>

	  <div class="clearfix"></div>

	  <!-- BEGIN CAROUSEL -->
	  <div id="featured-products" class="add-cart" data-product=".product"
           data-thumbnail=".entry-media .thumb" data-title=".entry-title > a"
           data-url=".entry-title > a" data-price=".entry-price > .price">

		<div class="owl-controls clickable top">
		  <div class="owl-buttons">
			<div class="owl-prev"><i class="iconfont-angle-left"></i></div>
			<div class="owl-next"><i class="iconfont-angle-right"></i></div>
		  </div>
		</div>

		<div class="owl-carousel owl-theme" data-visible-items="4" data-navigation="true" data-lazyload="true">
          {% for product in products %}
          {% render_product product %}
          {% endfor %}
		</div>
	  </div>
	  <!-- // END CAROUSEL -->

	</div>
  </div>
</section>
<!-- // FEATURED PRODUCTS -->
{% endblock %}
