{% extends 'oscar/promotions/home.html' %}
{% load staticfiles %}
{% load promotion_tags %}

{% block extrastyles %}
    {{ block.super }}
	<!-- PARTICULAR PAGES CSS FILES -->
	<link rel="stylesheet" href="{% static 'oscar/css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'oscar/css/owl.theme.css' %}">
	<link rel="stylesheet" href="{% static 'oscar/css/flexslider.css' %}" />
	<!-- // PARTICULAR PAGES CSS FILES -->
{% endblock %}

{% block extrascripts %}
	<!-- Particular Page Javascripts -->
	<script src="{% static 'oscar/js/jquery.flexslider-min.js' %}"></script>
	<script src="{% static 'oscar/js/homeslider-flexslider.js' %}"></script>
	<script src="{% static 'oscar/js/owl.carousel.js' %}"></script>
	<!-- // Particular Page Javascripts -->
{% endblock %}

{% block navigation %}
    {% include "partials/nav_accounts.html" %}
{% endblock %}

{% block body_id %}whole-content{% endblock %}
{% block body_class %}home{% endblock %}

{% block header %}
		<!-- HOMEPAGE SLIDER -->
		<div id="home-slider">

			<div class="flexslider">
				<ul class="slides">
                  {% for promotion in promotions_slider %}
					<li>
                      {% render_promotion promotion %}
					</li>
                  {% endfor %}
				</ul>
			</div>

		</div>
		<!-- // HOMEPAGE SLIDER -->
{% endblock %}

{% block content %}
		<!-- SITE MAIN CONTENT -->
		<main id="main-content" role="main">

			<!-- PROMO BOXES -->
			<section class="section promos">
				<div class="container">
					<div class="row">
                      {% for promotion in promotions_global_top|slice:'3' %}
					  <div class="col-md-4">
                        {% render_promotion promotion %}
					  </div>
                      {% endfor %}
					</div>
				</div>
			</section>
			<!-- // PROMO BOXES -->

            {% for promotion in promotions_page %}
            {% render_promotion promotion %}
            {% endfor %}
		</main>
		<!-- // SITE MAIN CONTENT -->
{% endblock %}
