{% extends "base.html" %}
{% load compress %}
{% load promotion_tags %}

{% block layout %}
	<!-- PAGE WRAPPER -->
	<div id="page-wrapper">

	  <header id="site-header" role="banner">
	    <!-- HEADER TOP -->
	    <div class="header-top">
          {# Contacts, mini-basket, browse dropdown and searchbox #}
          {% include "partials/nav_primary.html" %}
        </div>
		<!-- // HEADER TOP -->
        {% block navigation %}
		<!-- MAIN HEADER -->
		<div class="main-header-wrapper">
          {# Top-horizontal bar with site logo/title, account, notifictions, dashboard links #}
          {% include "partials/nav_accounts.html" %}
        </div>
        {% endblock %}
    </header>

    {# Main content of page - other layout templates may override this block #}
    {% block content_wrapper %}
      {% block header %}
      <!-- {% block headertext %}{% endblock %} -->
      {% endblock %}

      {% block breadcrumbs %}{% endblock %}
      <main id="main-content" role="main">
        {# Render promotions #}
		<section class="section promos">
          {% for promotion in promotions_main %}
          {% render_promotion promotion %}
          {% endfor %}
        </section>

        <div class="container">
          <div class="row">
            {% include "partials/alert_messages.html" %}
            {% block subnavigation %}{% endblock %}
            <div class="m-t-b clearfix">
            {% block subheader %}{% endblock subheader %}

            {# Div exists for AJAX updates to entire content section #}
            <div id="content_inner">{% block content %}{% endblock %}</div>
            </div>
          </div>
        </div>
      </main>
    {% endblock %}

    {% include "partials/footer.html" %}
	</div>
	<!-- // PAGE WRAPPER -->
{% endblock %}

{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}
