{% extends "oscar/catalogue/browse.html" %}

{% load staticfiles %}
{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load i18n %}
{% load product_variants %}

{% block extrascripts %}
{{ block.super }}
<!-- Particular Page Javascripts -->
<script src="{% static 'oscar/js/jquery.nouislider.js' %}"></script>
<script src="{% static 'oscar/js/jquery.isotope.min.js' %}"></script>
<script src="{% static 'oscar/js/products.js' %}"></script>
<!-- // Particular Page Javascripts -->
{% endblock %}

{% block extrastyles %}
{{ block.super }}
<!-- PARTICULAR PAGES CSS FILES -->
<link rel="stylesheet" href="{% static 'oscar/css/jquery.nouislider.css' %}">
<link rel="stylesheet" href="{% static 'oscar/css/isotope.css' %}">
<link rel="stylesheet" href="{% static 'oscar/css/innerpage.css' %}">
<!-- // PARTICULAR PAGES CSS FILES -->
{% endblock %}

{% block body_class %}products-view{% endblock %}

{% block headertext %}{{ summary }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{{ summary }}</li>
    </ul>
{% endblock breadcrumbs %}

{% block column_left %}
<aside class="col-xs-12 col-sm-4 col-md-3">
            <section class="sidebar push-up">

              <!-- CATEGORIES -->
              <section class="side-section bg-white">
                <header class="side-section-header">
                  <h3 class="side-section-title">{% trans 'Categories' %}</h3>
                </header>
                <div class="side-section-content">
                  {% category_tree depth=2 as tree_categories %}
                  {% if tree_categories %}
                  <ul id="category-list" class="vmenu unstyled">
                  {% for tree_category, info in tree_categories %}
                  {% if info.has_children %}
                    <li>
                      <input type="checkbox" id="check-{{ tree_category.slug }}"
                             class="prettyCheckable" data-label="{{ tree_category.name }}"
                             data-labelPosition="right" value="{{ tree_category.slug }}" />
                      <ul>
                  {% else %}
                        <li><input type="checkbox" id="check-{{ tree_category.slug }}" class="prettyCheckable"
                                   data-label="{{ tree_category.name }}" data-labelPosition="right"
                                   value="{{ tree_category.slug }}" /></li>
                  {% endif %}
                  {% for close in info.num_to_close %}
                      </ul>
                    </li>
                  {% endfor %}

                  {% endfor %}

                    {% for promotion in promotions_page %}
                    <li>
                      <input type="checkbox" id="check-best" class="prettyCheckable" data-label="{{ promotion.name }}" data-labelPosition="right" value="best" />
                    </li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div>
                <footer class="side-section-footer text-center hide">
                  <button type="button" id="btn-filter-cat" class="btn btn-primary btn-round uppercase">Clear Filters</button>
                </footer>
              </section>
              <!-- // CATEGORIES -->

              <!-- BRANDS -->
              {% get_variant_options 'brand' as brands %}
              <section class="side-section bg-white">
                <header class="side-section-header">
                  <h3 class="side-section-title">{{ brands.group.name }}</h3>
                </header>
                <div class="side-section-content">
                  <ul id="brands-list" class="vmenu unstyled">
                    {% for item in brands.options %}
                    <li>
                      <input type="checkbox" id="check-brand1" class="prettyCheckable" data-label="{{ item.option }}" data-labelPosition="right" value="{{ item.option }}" />
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                <footer class="side-section-footer text-center hide">
                  <button type="button" id="btn-filter-brand" class="btn btn-primary btn-round uppercase">Clear Filters</button>
                </footer>
              </section>
              <!-- // BRANDS -->

              <!-- PRODUCT FILTER -->
              <section class="side-section bg-white">
                <header class="side-section-header">
                  <h3 class="side-section-title">Filter</h3>
                </header>

                <!-- PRICE RANGE SLIDER -->
                <div id="filter-by-price" class="side-section-content">
                  <h4 class="side-section-subheader">Filter By Price</h4>
                  <div class="range-slider-container">
                    <div class="range-slider" data-min="0" data-max="2000" data-step="10" data-currency="$"></div>
                    <div class="range-slider-value clearfix">
                      <span>Price: &ensp;</span>
                      <span class="min"></span>
                      <span class="max"></span>
                    </div>
                  </div>
                </div>
                <!-- // PRICE RANGE SLIDER -->

                <!-- FILTER BY SIZE -->
                {% get_variant_options 'size' as sizes %}
                <div id="filter-by-size" class="side-section-content">
                  <h4 class="side-section-subheader">Filter By {{ sizes.group.name }}</h4>
                  <ul class="inline-li li-m-lg text-center unstyled">
                    {% for item in sizes.options %}
                    <li>
                      <a href="#" class="round-icon" data-toggle="tooltip" data-title="{{ item.option }}"><small>{{ item.option }}</small></a>
                      <input type="checkbox" class="filter-checkbox filter-size" value="{{ item.option }}" />
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                <!-- // FILTER BY SIZE -->

                {% get_variant_options 'color' as colors %}
                <!-- FILTER BY COLOR -->
                <div id="filter-by-color" class="side-section-content">
                  <h4 class="side-section-subheader">Filter By {{ colors.group.name }}</h4>
                  <ul class="inline-li li-m-sm text-center unstyled">
                    {% for item in colors.options %}
                    <li>
                      <a href="#" class="round-icon color-selector-{{ item.option|lower }} color-box"
                         data-toggle="tooltip" data-title="{{ item.option }}"></a>
                      <input type="checkbox" class="filter-checkbox filter-color" value="{{ item.option }}" />
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                <!-- // FILTER BY COLOR -->
              </section>
              <!-- // PRODUCT FILTER -->

              <!-- BEST SELLERS -->
              <section class="side-section bg-white">
                <header class="side-section-header">
                  <h3 class="side-section-title">Best Sellers</h3>
                </header>
                <div class="side-section-content">
                  <ul class="product-medialist li-m-t unstyled clearfix">
                    <li>
                      <div class="item clearfix">
                        <a href="img/dummy/450x600.png" data-toggle="lightbox" class="entry-thumbnail">
                          <img src="img/dummy/450x600.png" alt="Inceptos orci hac libero" />
                        </a>
                        <h5 class="entry-title"><a href="product.html">Inceptos orci hac libero</a></h5>
                        <s class="entry-discount m-r-sm"><span class="text-sm">$ 350.00</span></s>
                        <span class="entry-price accent-color">$ 250.00</span>
                      </div>
                    </li>
                    <li>
                      <div class="item clearfix">
                        <a href="img/dummy/450x600.png" data-toggle="lightbox" class="entry-thumbnail">
                          <img src="img/dummy/450x600.png" alt="Inceptos orci hac libero" />
                        </a>
                        <h5 class="entry-title"><a href="product.html">Inceptos orci hac libero</a></h5>
                        <span class="entry-price">$ 350.00</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </section>
              <!-- // BEST SELLERS -->

              {% for promotion in promotions_global_top|slice:'1' %}
              {% render_promotion promotion %}
              {% endfor %}
            </section>
</aside>

    {% if has_facets %}
        <h4>{% trans "Refine by" %}</h4>
        <div class="side_categories">
            {% for field, data in facet_data.items %}
                {% if data.results %}
                    {% include 'search/partials/facet.html' with name=data.name items=data.results %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}

<section class="col-xs-12 col-sm-8 col-md-9">
                            <section class="products-wrapper">
                                <!-- DISPLAY MODE - NUMBER OF ITEMS TO BE DISPLAY - PAGINATION -->
                                <header class="products-header">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 center-xs">
                                            <!-- DISPLAY MODE -->
                                            <ul class="unstyled inline-li li-m-r-l-sm pull-left">
                                                <li><a class="round-icon active" href="#" data-toggle="tooltip" data-layout="grid" data-title="Switch to List Grid Mode"><i class="iconfont-th"></i></a></li>
                                                <li><a class="round-icon" href="#" data-toggle="tooltip" data-layout="list" data-title="Switch to List View Mode"><i class="iconfont-list"></i></a></li>
                                            </ul>
                                            <!-- // DISPLAY MODE -->

                                            <!-- NUMBER OF ITEMS TO BE DISPLAY -->
                                            <div class="pull-right m-l-lg">
                                                <span class="inline-middle m-r-sm text-xs">Show</span>
                                                <div class="inline-middle styled-dd">
                                                    <select>
                                                      {% for num in page_limit_sizes %}
                                                        <option value="{{ num }}"{% if num == paginator.per_page %} selected{% endif %}>{{ num }}</option>
                                                      {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- // NUMBER OF ITEMS TO BE DISPLAY -->
                                        </div>
                                        <div class="space30 visible-xs"></div>
                                        <!-- PAGINATION -->
                                        {% include "partials/pagination.html" %}
                                        <!-- // PAGINATION -->
                                    </div>
                                </header>
                                <!-- // DISPLAY MODE - NUMBER OF ITEMS TO BE DISPLAY - PAGINATION -->

                                <!-- PRODUCT LAYOUT -->
                                <div class="products-layout grid m-t-b add-cart" data-product=".product"
                                     data-thumbnail=".entry-media .thumb" data-title=".entry-title > a"
                                     data-url=".entry-title > a" data-price=".entry-price > .price">
                                  {% if products %}
                                      {% for product in products %}
                                          {% render_product product %}
                                      {% endfor %}
                                  {% else %}
                                  <p class="nonefound">{% trans "No products found." %}</p>
                                  {% endif %}
                                </div>
                                <!-- // PRODUCT LAYOUT -->
                            </section>
</section>

    <form method="get" class="form-horizontal">
        {# Render other search params in a hidden block #}
        <div style="display:none">
            {% for value in selected_facets %}
                <input name="selected_facets" value="{{ value }}" />
            {% endfor %}
            {{ form.q }}
        </div>

        {% if paginator.count %}
            {% if paginator.num_pages > 1 %}
                {% blocktrans with start=page_obj.start_index end=page_obj.end_index num_results=paginator.count %}
                    <strong>{{ num_results }}</strong> results - showing <strong>{{ start }}</strong> to <strong>{{ end }}</strong>.
                {% endblocktrans %}
            {% else %}
                {% blocktrans count num_results=paginator.count %}
                    <strong>1</strong> result.
                {% plural %}
                    <strong>{{ num_results }}</strong> results.
                {% endblocktrans %}
            {% endif %}
            {% if form %}
                <div class="pull-right">
                    {% include "partials/form_field.html" with field=form.sort_by %}
                </div>
            {% endif %}
        {% else %}
            <p>
                {% trans "<strong>0</strong> results." %}
            </p>
        {% endif %}
    </form>

{% endblock content %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}
